@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Shadows+Into+Light&family=Varela+Round&display=swap');

ul{
    padding-inline-start: 0px;
}
:root {
    --heading-font: "Rock Salt";
    --paragraph-font: "Shadows Into Light", Helvetica, sans-serif;
}
body{
    display: grid;
    margin: 0;
    background-color: #fceeee;
    grid-template-rows: 150px 6fr .2fr;
}
/* header */
header {
    display: grid;
    grid-template-columns: 2fr 5fr;
    background-color: #F79A7D;
    grid-row: 1/2;
    border-bottom: 5px solid #ce3d15;
}
.logo {
    grid-column: 1/2;
    margin: auto 0;
}

#logo_img {
    width: 50vw;
    border: 5px solid #F46F4A;
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: 3px 3px 6px #00000086;
    max-width: 500px;
    max-height: 100px;
}

#headernav{
    font-family: "Rock Salt", Helvetica, sans-serif ;
    font-size: 40px;  
}

nav a {
    max-height: 50px;
    max-width: 281px;
    text-decoration: none;
    margin: auto 0;
    border: calc(1px + .3vw) solid white;
    height: 4vw;
    padding-top: 0;
    padding-bottom: .9vw;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    background-color: #F46F4A;
    color: azure;
    box-shadow: 3px 3px 6px #00000086;
    text-align: center;
    font-size: 1.5lvw;


}
nav a:hover {
  max-height: 50px;
  max-width: 281px;
  text-decoration: none;
  margin: auto 0;
  border: calc(1px + .3vw) solid white;
  height: 4vw;
  padding-top: 0;
  padding-bottom: .9vw;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
    background-color: #ce3207;
    color: azure;
    box-shadow: 3px 3px 6px #00000086;
    text-align: center;
    font-size: 1.5lvw;

}
nav {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around;
}

#logo { 
    padding: 10px;

}

/* gallery */ 
 .home_main { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 1px;
  }


div.gallery {
    border: 3px solid #ce3d15;
    background-color: #F79A7D;
  }
  
div.gallery:hover {
    border: 3px solid #f1714e;
    background-color: #F79A7D;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }
  
div.desc {
    padding: 15px;
    text-align: center;
    font-family: "Rock Salt", Helvetica, sans-serif ;
    color: azure;
  }

.gallery_m{
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
.responsive {
    padding: 5px 6px;
    width: 95%;
    }
.artist {
   grid-column: 2/3;
   grid-row: 1/2;
}

#box_move {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #F46F4A; 
    border: 3px solid #ce3d15;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;

}

.artist section img {
    width: 90%;
    border: 2px inset black;
    min-width: 50px;
    margin: auto 0;
    
}

.artist section p {
    font-family:sans-serif, Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    color: white;
    padding: 5px;
}



/* footer */


footer {
    display: flex;
    height: 100%;
    background-color:  #F79A7D;
    border-top: 5px solid #ce3d15;
    flex-direction: row;
    justify-content: center;
}
.contact{
    text-align: center;
    padding: 10px;
    margin: auto 0;
    color: black;
}
.contact li{
    list-style: none;
    font-family: Helvetica, sans-serif;
    margin: 16px;

}
.contact li a {
    color: white;
    text-decoration: none;
    font-family:sans-serif, Arial, Helvetica, sans-serif;
    background-color: #F46F4A;
    border: 1px solid white ;
    padding: 2px;
    font-size: 20px;
}

.contact li a:hover {
    color: white;
    text-decoration: none;
    font-family:sans-serif, Arial, Helvetica, sans-serif;
    background-color:#ce3d15;
    border: 1px solid white ;
    padding: 2px;
    font-size: 20px;
}


footer h3 {
    font-family: "Rock Salt", Helvetica, sans-serif ;
    color: black;
    text-align: center;
    margin: auto 0;
}
#peach{
    color: rgb(61, 41, 30);
    padding: 10px;
    margin: auto 0;
}

.sitemap ul { 
    display: flex;
    flex-direction: column;
    gap: .75vw;
    

}
.sitemap { 
    padding: 10px;

}
.sitemap ul li {
  text-align: center;
  list-style: none;
}
.sitemap ul li a {
    color: white;
    text-decoration: none;
    font-family:sans-serif, Arial, Helvetica, sans-serif;
    background-color: #F46F4A;
    border: 1px solid white ;
    padding: 2px;
    font-size: 20px;  
}
.sitemap ul a:hover {
    color: white;
    text-decoration: none;
    font-family:sans-serif, Arial, Helvetica, sans-serif;
    background-color:#ce3d15;
    border: 1px solid white ;
    padding: 2px;
    font-size: 20px;

}
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


/* gallery */
.gallery_page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 175px 6fr;

}

.gallery3{
    display: flex;
    font-family: "Shadows Into Light", Helvetica, sans-serif;
    grid-column: 2/4;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap:wrap;
}



#grade {
    background-image: linear-gradient(60deg, #ff9966, #ff5e62); 
    border-radius: 37px;
    margin: 5px;



}

#grade h2{
font-size: .9em;

}

  
  h1 {
    font-size: 50px;
    text-align: center;
  }
  
  .row {
    margin: 8px 30px;
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {

    display: none; /* Hide columns by default */
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
    text-align: center;
  }

  .content img {
    min-width: 150px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: inline-block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
    background-color: #666;
     color: white;
  }
  #myBtnContainer {
    margin: 5px;
  }
/* Comission page */

main div {
    font-family: "Rock Salt", Helvetica, sans-serif;
    text-align: center;
}

#img_box {
background-color: #F46F4A;
grid-column: 1/2;
padding: 20px ;

}
#pricing_box {
background-color: #F46F4A;
grid-column: 2/3;   
padding: 20px ;
}
#sumbit_inst {
background-color: #F46F4A;
grid-column: 1/-1;
padding: 20px ;
}

.main_grid_comis {
  display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    grid-template-rows: 2fr 400px;
    gap: 10px;  
    color: white;
}
.color_box {
    background-image: linear-gradient(60deg, #ff9966, #ff5e62);
    padding: 20px;
}

/* commmission */



#img_box img {
    width: 60%;
    background-color: white;
}

#pricing_box #pad1 {
  padding: 30px;
  text-align: center;
  margin: auto 0;

}
#pricing_box #pad1 ul li {
  text-align: left;
  font-size: large;
}


#oltwo li {
  text-align: left;
  padding: 7px;
}









@media only screen and (max-width: 960px) {
    header{
    }
    nav{
        flex-direction: column-reverse;
        gap: 2px;
        margin: auto 0;
    }
    nav a {
        max-height: 50px;
        max-width: 281px;
        text-decoration: none;
        margin: auto 0;
        border: calc(1px + .3vw) solid white;
        height: 2.5vw;
        width: 13vw;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        background-color: #F46F4A;
        color: azure;
        box-shadow: 3px 3px 6px #00000086;
        font-size: calc(.1px + 1.2vw);
        text-align: center;
    
    }
    nav a:hover {
        max-height: 50px;
        max-width: 281px;
        text-decoration: none;
        margin: auto 0;
        border: calc(1px + .3vw) solid white;
        height: 2.5vw;
        width: 13vw;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;   
        background-color: #ce3207;
        color: azure;
        box-shadow: 3px 3px 6px #00000086;
        font-size: calc(.1px + 1.2vw);
        text-align: center;
    
    

    }    

  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }}
